.table {
    tbody {
        >tr {
            >th,
            td {
                border-right: 1px solid #dbdbdb;
            }
        }
    }
}

.currencies-table-row {
    &:hover {
        background-color: #00d1b2;
        cursor: pointer
    }
}

.no-page-text {
    text-align: center;
    margin-top: 50px
}

.field {
    display: flex;
    justify-content: space-between;
}

.settings {
    .change-language-select {
        margin-right: 20px
    }
}

.loading-screen {
    text-align: center;
    margin-top: 50px;
}

.currency-details {
    border: 2px solid #00d1b2;
    padding: 50px;
    .currency-details-text {
        color: #00d1b2;
        margin-right: 20px;
    }
}

.columns {
    margin-top: 50px;
}

.refresh-site {
    margin-left: 30px
}

.currency-details-site {
    .currency-details-back-button {
        color: #FFFFFF;
    }
}